<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"> Une collaboration avec la Nature !</h2>
                <hr class="light">
                <p class="text-faded"> Dans le secteur de l'élagage et du paysage depuis plus de 8 ans, nous mettons tout en œuvre pour créer, transformer, protéger. Nous cherchons le bien être pour vous et votre jardin. Dans le cadre d'une démarche écologique : comme mettre en place des pratiques de gestion des déchets verts en recyclant les matériaux de taille mais encore le refus d’utilisation des produits phytosanitaires, pour une protection de l’Environnement. Notre objectif est de créer des espaces qui prospèrent dans l'harmonie avec la nature.
</p>
                 <h2 class="section-heading"> Cultiver la Beauté avec Respect.   </h2>
                <hr class="light">
                <p class="text-faded">  Nous croyons fermement que chaque arbre et chaque espace extérieur mérite une attention particulière. Le respect envers la nature, nos clients et notre équipe est au cœur de tout ce que nous faisons. Nous nous efforçons constamment de maintenir des normes élevées en matière de sécurité, assurant un environnement de travail sûr pour nos employés et un service sans risque pour vous.

Nous nous efforçons de transmettre a nos clients et la communauté sur les avantages de la préservation de la nature. 

 Notre approche humble nous pousse à apprendre continuellement, à évoluer et à nous améliorer.   </p>
                <a href="mailto:contact.les3arbres@gmail.com" class="btn btn-default btn-xl">Expliquez-nous votre projet !</a>
            </div>
        </div>
    </div>
</section>
