<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"> Le végétal au centre de notre travail !</h2>
                <hr class="light">
                <p class="text-faded"> Dans le secteur de l'élagage et du paysage depuis plus de 8 ans, nous mettons tout en oeuvre pour créer,transformer,proteger. Nous cherchons le bien etre pour vous et votre jardin. Dans le cadre d'une démarche écologique nous n'utilisons aucuns produits phytopharmacetiques.  !</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
