<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"> Travailler dans le respect du végétal !</h2>
                <hr class="light">
                <p class="text-faded"> Dans le secteur de l'élagage et du paysage depuis plus de 8 ans, nous mettons tout en oeuvre pour créer,transformer,proteger. Nous cherchons le bien etre pour vous et votre jardin. Dans le cadre d'une démarche écologique nous n'utilisons aucuns produits phytopharmacetiques !</p>
                 <h2 class="section-heading"> Utilisation d'engins et d'outils </h2>
                <hr class="light">
                <p class="text-faded"> Plusieurs techniques sont misent en place pour la réalisation des chantiers de création comme des pelles mécaniques... ainsi que pour l'élagage avec l'utilité d'un broyeur de branches pour revaloriser le broyat dans votre jardin  </p>
                <a href="mailto:contact.les3arbres@gmail.com" class="btn btn-default btn-xl">Expliquez-nous votre projet !</a>
            </div>
        </div>
    </div>
</section>
