<header>
    <div class="header-content">
        <div class="header-content-inner">
            <center><img src="img/logo-nb.png" class="img-responsive" alt=""></center>
            <h1> Elagage et Paysage <br> Arboriste grimpeur - Paysagiste  </h1>
            <hr>
            <p> Artisan des champs secteur Saint Antonin / Artisan des villes bassin Toulousain .</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Découvrez notre travail</a>
        </div>
    </div>
</header>
